
body {
    margin: 0;
}

header{
    text-align: center;
    background-color:rgb(207, 207, 207);
    padding-top: 10px;
}

nav{
    padding-bottom: 15px;
}

nav > span{
    border-style: solid;
    border-width: 1px;
    padding: 2px;

}

.homepage-section, .progress-section{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progress-section{
    background-color: grey
}

h2{
    text-align: center;
}